<% provide(:title, 'All users') %>
<h1>All users</h1>

<%# Use the will_paginate gem to take care of pagnination %>
<%= will_paginate %>
<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
