<footer class="footer">
  <small>
    The <a href="https://km-rails-refresh.herokuapp.com/">Rails Refresh</a>
    by <a href="https://www.kellymariemason.com/">Kelly Mason</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://npr.org">News</a></li>
    </ul>
  </nav>
</footer>
